*{
    margin: auto;
    padding: 0%;
}

:root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    --color-mando: #1f1f1f;
    --color-botones: #0a0a0a;
}

p{
    font-size: 1em;
    text-align: center;
    color: #fff;

}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/fondo_cyber.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

/*--------------Cabecera-------------*/
#cabecera{
    color: #fff;
    height: 50px;
    width: 80%;
    background-color: #000;
    display: flex;
    width: 100%;
    position: fixed;
}

#logo{
    width: 130px;
    height: auto;
    object-fit: contain;
    object-position: center;
    }

#registro{
    margin-right: 0px;
    height: 50px;
    width: 15%;
    background-color: #52bcd8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*--------------Cuerpo y mando de la consola-------------*/
#consola{
    width: 75vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cuerpo{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-mando);
}

.mando{
    height: 100%;
    width: 20%;
    background-color: var(--color-mando);
}

#mando_izq{
    border-radius: 50px 0 0 120px;
    background-color:  #ede426;
    box-shadow: 10px -10px 2px #cec40b inset;
}

#mando_dch{
    border-radius:  0 50px 120px 0;
    box-shadow: -10px -10px 2px #111 inset;
}

/*--------------Cruceta-------------*/
.cruceta{
    color: white;
    height: auto;
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: 0;
    margin-left: 0;
}

/*--------------Joystick--------------*/
.joystick{
    height: 80px;
    width: 80px;
    background-color: var(--color-botones);
    border-radius: 50%;
    border-color: white;
    border-width: ligth;
    border-style: solid;
}

#joy_izq{
    position: relative;
    justify-content: center;
}

#joy_dch{
    position: relative;
    justify-content: center;
}

/*Botones superiores*/
.superior{
    background-color: #1e1e1e;
    height: 15px;
    width: 50px;
    border: #000;
    border-radius: 10px;
    border-style: groove;
    justify-content: center;
    text-align: center;
    box-shadow:
    2px 2px 10px #000,
    -2px -2px 10px #000;
    

}

#superior_izq{
    margin-top: 5px;
    background-image: url(img/boton_superior_derecho-03.svg);
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px #cec408,
    3px 3px #cec408;
}

#superior_dch{
    width: 40px;
    margin-top: 5px;
    margin-left: 70px;
    justify-content: center;
    align-items: center;
}

#superior_dch:hover{
    background-color: rgb(13, 243, 13);
    border-color:rgb(13, 243, 13);
    cursor: pointer;
}
/*--------------Botones del mando izq-------------*/

.cruceta_joy_izq{
    padding-left: 0;
    margin-left: 0;
    margin-left: 10px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

#contornojoy_izq{
    margin-right: 20px;
    margin-bottom: 0;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    border-color: #aaa20c;
    background-color: #fff;
    border-width: medium;
    border-style: groove;
    display: flex;
    box-shadow: 10px 10px 5px #645f05;
}

#cruceta_arriba{
    background-color: var(--color-botones);
    height: 25px;
    width: 30px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    box-shadow: 2px 2px 5px #645f05;
} 

#cruceta_doble{
    background-color: var(--color-botones);
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 5px #645f05;
}

#cruceta_abajo{
    background-color: var(--color-botones);
    height: 23px;
    width: 30px;
    text-align: center;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 5px #645f05;
}

/*--------------Botones del mando dch-------------*/
.botones_joy_dch{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
}

.cruceta_joy_dch{
    padding-left: 0;
    margin-left: 0;
    margin-left: 10px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
}

#contornojoy_dch{
    margin-left: 10px;
    margin-bottom: 0;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    background-color: #fff;
    border-color: #1e1e1e;
    border-width: medium;
    border-style: groove;
    display: flex;
    box-shadow: 10px 10px 5px #111;
}
.botonera{
    color: white;
    height: 100%;
    width: 50%;
    margin-top: 0;
    margin-right: 0;
    padding-right: 0    ;
}

#boton_doble{
    height: 30px;
    width: 100px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.botones{
    color: white;
    background-color: var(--color-botones);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px grey inset;
}

/*--------------Panel tactil-------------*/
.tactil{
    height: 120px;
    width: 120px;
    border: solid;
    background-color: var(--color-mando);
    border-radius: 10px;
    border-color:  black;
    border-width: 1px;
    box-shadow: 0px 3px 5px #000;
}

#panel_izq{
    margin-top: 20px;
    margin-right: 20px;
    border-color: #cec408;
    background-color: #ede426;
    box-shadow: 0 3px 3px #645f05;
}

#panel_dch{
    margin-top: 20px;
    margin-left: 20px;
}

/*--------------boton opciones-------------*/
.opciones{
    display: flex;
    font-size: 12px;
    background-color: var(--color-botones);
    height: 25px;
    width: 80px;
    border-radius: 10px;
    border-color:  black;
    border-width: medium;
    border-style: groove;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px #000 inset;
}
#boton_opciones_izq{
    margin-top: 20px;
    margin-right: 20px;
}
#boton_opciones_dch{
    margin-top: 20px;
    margin-left: 20px;
    color: #fff;
    font-size: 3em;
}

/*--------------Salidas de audio-------------*/
.salida_audio{
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#audio_izq{
    margin-top: 20px;
    background-image: url(img/salida_de_audio_izquierda_Mesa\ de\ trabajo\ 1\ copia.svg);
    background-position: right;
    background-repeat: no-repeat;
    margin-right: 20px;

}

#audio_dch{
    margin-top: 20px;
    margin-left: 20px;
    background-image: url(img/salida_de_audio_derecha_Mesa\ de\ trabajo\ 1.svg);
    background-position: right;
    background-repeat: no-repeat;
}

/*--------------Pantalla de visualización-------------*/
#pantalla{
    height: 95%;
    width: 100%;
    justify-content: center;
    background-color: #000;
    border: solid;
    border-color: #000;
    border-width: 10px;
}

#myvideo{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 15px;
    display: none;
}
